.appContainer {
  background-color: #2a592f;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em 2em;
  gap: 2em;
}

.appInfo {
  margin-inline: auto;
  display: grid;
  max-width: 900px;
  gap: 1em;
}

.appCarrousel {
  margin-inline: auto;
  max-width: 1500px;
  gap: 5em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
}

.acopioContainer {
    padding: 4em;
}

.acopioInfo {
    margin-inline: auto;
    max-width: 1000px;
    text-align: center;
}

@media (width <= 1400px) {
  .appCarrousel {
    grid-auto-flow: row;
  }
}

@media (width <= 900px) {
  .appCarrousel {
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
  }
}
