.container {
    display: grid;
    gap: 1em;
    margin-inline: auto;
    max-width: 400px;
}

.container h2 {
    margin-inline: auto;
}

.imgContainer {
    margin-inline: auto;
    max-width: 450px;
}

.imgContainer img {
    width: 100%;
    object-fit: cover;
}