.container {
    display: grid;
    gap: 2em;
    margin-inline: auto;
}

.container h2 {
    margin-inline: auto;
}

.imgContainer {
    margin-inline: auto;
    max-width: 450px;
}

.imgContainer img {
    max-width: 100%;
}