.headerContainer {
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  z-index: 9999;
  position: sticky;

  padding: 1rem max(4vw, 25px);
}

.navList {
  list-style: none;
  gap: 3em;
  display: flex;
  align-content: center;
}

.mobileNavToggle {
  display: none;
}

@media (width <= 900px) {
  .navList {
    position: fixed;
    inset: 0 0 0 45%;

    flex-direction: column;
    padding: min(12vh, 10rem) 1em;

    background-color: #ffffff;

    transform: translateX(100%);
    transition: transform 200ms ease-out;
  }

  .navList[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobileNavToggle {
    position: absolute;
    display: block;
    z-index: 10001;
    background: url("/img/bars-solid.svg") no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobileNavToggle[data-visible="true"] {
    background: url("/img/xmark-solid.svg") no-repeat;
  }
}

.navList .item {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1325rem;
}

.imgContainer {
  max-width: 200px;
}

.navList .item:hover {
  border-bottom: 3px solid #6bb000;
}

.img {
  max-width: 100%;
  object-fit: cover;
}
