@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundCyan: #004668;
  --customPadding: 4em 2em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik-sans);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
}

.headerNav {
  top: 0;
  z-index: 10000;
  position: sticky;
}
