.introContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  align-items: center;
  padding: 2.5em 2em;
  justify-content: center;

  background-color: var(--backgroundCyan);
  color: white;
}

.imgContainer img {
  max-width: 100%;
  object-fit: cover;
}

.imgContainer {
  margin-inline: auto;
  max-width: 500px;
  overflow: clip;
  border-radius: 12px;
  aspect-ratio: 5 / 4;
}

.info {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  max-width: 700px;
}

.identityContainer {
  display: grid;
  padding: 2.5em 2em;
  gap: 2em;
}

.identityItemsContainer {
  margin-inline: auto;
  max-width: 1200px;
  display: grid;
  grid-auto-flow: column;
  gap: 4em;
}

.identityImgContainer {
  margin-inline: auto;
  max-width: 80px;
  min-height: 80px;
}

.identityImgContainer img {
  width: 100%;
}

.identityContainer h1 {
  margin-inline: auto;
  text-align: center;
}

.identityItem {
  margin-inline: auto;
  display: grid;
  align-items: center;
  max-width: 400px;
  gap: 1em;
  text-align: center;
}

.identityItem p {
  min-height: 200px;
}

.appContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 4em;

  color: white;
  background-color: #2a592f;
  padding: 4em 2em;
}

.info {
  display: grid;
  gap: 1em;
  max-width: 700px;
}

.info a {
  font-size: 1.125rem;
  padding: 0.5em 1.3125em;
  background-color: #004668;
  border-radius: 12px;
  max-width: fit-content;
}

@media (width <= 1000px) {
  .introContainer {
    grid-auto-flow: row;
    gap: 2em;
  }

  .info {
    grid-auto-flow: row;
  }

  .identityItemsContainer {
    grid-auto-flow: row;
    gap: 2em;
  }

  .info {
    text-align: center;
  }

  .info {
    text-align: center;
  }

  .info a {
    margin-inline: auto;
  }
}
